#header {
  background-color: black; /* Cambiar el fondo a negro */
  position: block;
}

.referencia {
  color: white;
  position: absolute;
  top: 0; /* Cambiado de 50% a 0 para que esté en la parte superior */
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  position: static !important; /* Hacer que el cuerpo no sea fijo */
  background-color: black;
}

/*////////////////////// INFRAME //////////////////////*/

#botonesimagenes {
  width: 100%;
  height: 96%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  overflow: hidden !important; /* Intenta con !important */
}

/*////////////////////// VIDEO //////////////////////*/

#menuContainer {
  position: fixed; /* Posicionar el contenedor de menú de forma fija */
  top: 68px; /* Alinear el contenedor de menú con la parte superior */
  left: 0; /* Alinear el contenedor de menú con el centro */

  z-index: 999; /* Colocar el contenedor de menú delante de todo el contenido */
}

.video-container-1 {
  width: 50%; /* Ancho del contenedor de video */
  margin: 20px auto; /* Margen superior e inferior de 20px y centrado horizontal */
}

.background-video {
  width: 100%; /* Ancho del video al 100% */
  height: auto; /* Para mantener la proporción del video */
}

.video-text {
  position: relative;
  left: 50%; /* Centra horizontalmente el texto */
  transform: translateX(-50%); /* Centra horizontalmente el texto */
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 1; /* Asegura que el texto esté por encima del video */
}

@media only screen and (max-width: 1400px) {
  .video-container-1 {
    width: 90%;
    height: 50%;
  }
}

/*////////////////////// CONTENEDOR //////////////////////*/

.container {
  display: none;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro transparente al 50% */
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.visible {
  display: block;
}

.transparent {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Cambia el fondo a un negro transparente */
}

.menu-desplegable {
  margin-left: 10px;
  margin-top: 15px; /* Ajustar margen superior */
  margin-bottom: 20px; /* Ajustar margen inferior */
  font-size: 18px; /* Tamaño de fuente uniforme */
  background-color: black; /* Cambiar el fondo a negro */
  color: white;
  padding: 10px;
  cursor: pointer;
}

.menu-button {
  margin-left: auto; /* Alinear al centro horizontalmente */
  margin-right: auto; /* Alinear al centro horizontalmente */
  width: 90%; /* Establecer el ancho al 80% del contenedor */
  padding: 15px;
  display: block; /* Mostrar los enlaces como bloques */
  margin-bottom: 10px; /* Espacio entre los enlaces */
  background-color: black;
  color: white;
  border: 2px solid white; /* Establecer el borde de 2px sólido blanco */
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  text-decoration: none; /* Quita el subrayado */
}

.menu-button-1 {
  width: 250px;
  height: 50px;
  background-color: rgb(202, 125, 37);
  color: black;
  border: none;
  margin-bottom: 5px; /* Espacio entre botones */
  cursor: pointer;
  font-size: 20px;
  text-decoration: none; /* Quita el subrayado */
  text-align: center; /* Centra el texto */
  line-height: 50px; /* Ajusta la altura de línea al tamaño del botón */
}


/*////////////////////// INFORMACION BEES //////////////////////*/
.video-container-1 {
  position: relative;
  width: 80%;
  height: auto; /* Para mantener la proporción del video */
}

.video-text {
  position: relative;
  left: 50%; /* Centra horizontalmente el texto */
  transform: translateX(-50%); /* Centra horizontalmente el texto */
  margin-top: 10px;
  color: white;
  font-size: 34px;
}

.image-container-1 {
  position: relative;
  width: 100%;
  height: auto; /* Para mantener la proporción de la imagen */
}

.image-container-1 img {
  width: 60%; /* Ancho de la imagen al 60% del contenedor */
  height: auto; /* Para mantener la proporción de la imagen */
  position: absolute;
  left: 50%; /* Centra horizontalmente la imagen */
  transform: translateX(-50%); /* Centra horizontalmente la imagen */
}

.image-text {
  position: relative;
  left: 50%; /* Centra horizontalmente el texto */
  transform: translateX(-50%); /* Centra horizontalmente el texto */
  margin-top: 10%;
  margin-bottom: 10px;
  color: white;
  font-size: 34px;
  text-align: center;
}



/* Estilos para pantalla normal */
@media only screen and (min-width: 768px) {
    /* Video */
    .video-container-1 {
      width: 80%; /* Reducir el ancho del video */
    }
  
    /* Imágenes */
    .image-container-1 img {
      width: 60%; /* Reducir el ancho de la imagen */
    }
  }
      /* WhatsApp */
      .boton-whatsapp {
        bottom: 10%; /* Ajustar la distancia desde abajo */
      }
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 767px) {
    /* Video */
    .video-container-1 {
      width: 90%; /* Ajustar el ancho del video */
    }
  
    /* Imágenes */
    .image-container-1 img {
      width: 80%; /* Ajustar el ancho de la imagen */
    }
  
    /* Menú */
    #menuContainer {
      top: 20px; /* Ajustar la distancia desde la parte superior */
    }
  
    /* WhatsApp */
    .boton-whatsapp {
      bottom: 150px; /* Ajustar la distancia desde abajo */
    }
  }
  